---
import BaseLayout from "@/layouts/BaseLayout.astro";
import NotFoundImage from "@/components/NotFoundImage.astro";
---

<BaseLayout title="404 - Not Found">
  <div>
    <div>404 - Page not found</div>
    <NotFoundImage />
  </div>
</BaseLayout>
