---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import MarkdownBody from "../components/MarkdownBody.astro";
import Profile from "../components/Profile.mdx";
---

<BaseLayout>
  <div class="mt-12"></div>
  <HeroBanner />
  <div class="mt-12"></div>
  <MarkdownBody>
    <Profile />
  </MarkdownBody>
</BaseLayout>
