---
---

<p>
  Email: prateek@prateekkumar.in
  <br />
  Twitter:
  <a href="https://twitter.com/prateekkumarweb">@prateekkumarweb</a>
  <br />
  LinkedIn:
  <a href="https://www.linkedin.com/in/prateekkumarweb/">@prateekkumarweb</a>
  <br />
  Mastodon:
  <a rel="me" href="https://mastodon.online/@prateek">
    https://mastodon.online/@prateek
  </a>
</p>
