---
import { Image } from "astro:assets";
import IconLogosRust from "~icons/logos/rust";
import IconLogosJavaScript from "~icons/logos/javascript";

const profileImageUrl = "https://static.prateek.page/images/profile.jpg";
---

<div class="flex gap-16 items-center flex-col md:flex-row">
  <Image
    src={profileImageUrl}
    alt="Prateek Kumar"
    width={384}
    height={384}
    class="rounded-full"
  />
  <div class="flex-grow">
    <h1 class="text-4xl font-extrabold">Prateek Kumar</h1>
    <p>
      Software Engineer<br />
      Rust <IconLogosRust />
      and JavaScript <IconLogosJavaScript />
    </p>
  </div>
</div>
