---
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"post">[];
}

const { posts } = Astro.props;
---

<ul>
  {
    posts
      .filter((post) => post.data.publish)
      .map((post) => (
        <li>
          <div class="flex justify-between">
            <a
              href={`/post/${post.slug}/`}
              class="underline hover:no-underline"
            >
              {post.data.title}
            </a>
          </div>
        </li>
      ))
  }
</ul>
