---
import type { Frontmatter } from "@/types";
import type { MarkdownInstance } from "astro";
import TagList from "./TagList.astro";

interface Props {
  posts: MarkdownInstance<Frontmatter>[];
}

const { posts } = Astro.props;
---

<h1 class="text-3xl font-semibold">Posts</h1>
<ul class="my-6 flex flex-col gap-6 text-xl">
  {
    posts.map((post) => (
      <li>
        <div class="flex justify-between">
          <a href={post.url} class="underline hover:no-underline">
            {post.frontmatter.title}
          </a>
          <div class="text-sm text-gray-700 dark:text-gray-300 my-1">
            {post.frontmatter.date.slice(0, 10)}
          </div>
        </div>
        <TagList tags={post.frontmatter.tags} />
      </li>
    ))
  }
</ul>
