---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostList from "@/components/PostList.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = (await getCollection("post"))
    .sort((a, b) => {
      if (a.data.date < b.data.date) return -1;
      if (a.data.date > b.data.date) return 1;
      return 0;
    })
    .reverse();
  const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
  return tags.map((tag) => ({
    params: { tag },
    props: {
      posts: allPosts.filter((post) => post.data.tags.includes(tag)),
    },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={"Tag #" + tag + " | Prateek Kumar"}>
  <h2 class="text-xl italic mb-2">{`#${tag}`}</h2>
  <PostList posts={posts} />
</BaseLayout>
