---
import BaseLayout from "./BaseLayout.astro";
import TagList from "@/components/TagList.astro";
import MarkdownBody from "@/components/MarkdownBody.astro";
import type { CollectionEntry } from "astro:content";

type Frontmatter = CollectionEntry<"post">["data"];

type Props = {
  frontmatter: Frontmatter;
};

const { frontmatter } = Astro.props;
const dateString = frontmatter.date.toDateString();
const imageUrl = frontmatter.image;
---

<BaseLayout title={frontmatter.title + " | Prateek Kumar"} image={imageUrl}>
  {imageUrl && <img src={imageUrl} alt="banner image" class="mb-3 w-full" />}
  <div class="flex items-center justify-between flex-wrap gap-2 mb-3">
    <TagList tags={frontmatter.tags} />
    <div class="text-sm">{dateString}</div>
  </div>
  <MarkdownBody>
    <slot />
  </MarkdownBody>
  <div class="giscus"></div>
  <Fragment slot="scripts">
    <script
      src="https://giscus.app/client.js"
      data-repo="prateekkumarweb/giscus"
      data-repo-id="R_kgDOMqn5JA"
      data-category="Comments"
      data-category-id="DIC_kwDOMqn5JM4CiFO0"
      data-mapping="pathname"
      data-strict="1"
      data-reactions-enabled="1"
      data-emit-metadata="1"
      data-input-position="bottom"
      data-theme="preferred_color_scheme"
      data-lang="en"
      crossorigin="anonymous"
      async
    ></script>
  </Fragment>
</BaseLayout>
