---
import BaseLayout from "./BaseLayout.astro";
import TagList from "@/components/TagList.astro";
import MarkdownBody from "@/components/MarkdownBody.astro";
import type { CollectionEntry } from "astro:content";

type Frontmatter = CollectionEntry<"post">["data"];

type Props = {
  frontmatter: Frontmatter;
};

const { frontmatter } = Astro.props;
const dateString = frontmatter.date.toDateString();
const imageUrl = frontmatter.image;
---

<BaseLayout title={frontmatter.title + " | Prateek Kumar"} image={imageUrl}>
  {imageUrl && <img src={imageUrl} alt="banner image" class="mb-3 w-full" />}
  <div class="flex items-center justify-between flex-wrap gap-2 mb-3">
    <TagList tags={frontmatter.tags} />
    <div class="text-sm">{dateString}</div>
  </div>
  <MarkdownBody>
    <slot />
  </MarkdownBody>
</BaseLayout>
